# Node
node_modules/
package-lock.json

# Vite
/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Misc
*.swo
*.swp
.idea/

# Build
/build/

# Others
*.log

.claude

__pycache__

*.sav
src/data-grabber/python/public/*.json
src/data-grabber/python/public/old/*.json
src/data-grabber/python/public/info
!src/data-grabber/python/public/example_parse_save_output.json
!src/data-grabber/python/public/demo_mewgenics_cats.json
