.tooltip-popup {
	padding: 10px 12px;
	color: var(--color-text-primary);
	cursor: default;
	font-weight: 600;
	white-space: nowrap;

	.name {
		display: inline-block;
		overflow: hidden;
		max-width: 100%;
		border-bottom: 1px dashed var(--color-border-dash);
		text-overflow: ellipsis;
		vertical-align: bottom;
	}

	.title {
		margin-bottom: 6px;
		color: var(--color-text-primary);
		font-size: 13px;
		font-weight: 700;
	}

	.line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 3px;
		font-size: 11px;
		gap: 12px;
	}

	.label {
		color: var(--color-text-subtle);
	}

	.value {
		color: var(--color-text-secondary);
		text-align: right;
	}
}
